*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #eeeeee;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

._hidden {
  display: none;
}
